@{
    ViewBag.Title = "LAPTOPTHEONSX";
    Layout = "~/Views/SHARE/USERLAYOUT.cshtml";
}

<h2>LAPTOP THEO HÃNG SẢN XUẤT</h2>
@ViewBag.LAP
<div class="row">
    @{
        foreach (var item in Model)
        {
        <div class="col-4">
            <img src="@Url.Content("~/HinhAnhSP/"+item.HINHANH)" width="70%" height="70%" alt="Image" />
            @if (item.TENSP.Length > 30)
            {
                <p><strong title="@item.TENSP">Laptop @item.TENSP.Substring(0,30)...</strong><br /><a href="@Url.Action("XemChiTiet","LAPTOP",new {@ms=item.MASP})">Xem chi tiết</a></p>
            }
            else
            {
                <p><strong title="@item.TENSP">Laptop @item.TENSP</strong><br /><a href="@Url.Action("XemChiTiet","LAPTOP",new {@ms=item.MASP})">Xem chi tiết</a></p>
                <div class="clear"></div>
            }
        </div>
        }       
      }
</div>